@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-text-primary;
  }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-card-dark;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-border-dark rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-text-muted;
}
